{% extends 'base.html' %}
{% load static %}
{% block main %}
  <header class="masthead" style="background-image: url('{% static "blog/img/home-bg.jpg" %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>وبی لاگ</h1>
            <span class="subheading"> لاگی از سراسر وب </span>
          </div>
        </div>
      </div>
    </div>
  </header>
<!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          {% for arttc in article %}
              <div class="post-preview">
                  <a href="{% url "blog:article_detais_url" arttc.slug %}">
                      <h2 class="post-title">
                          {{ arttc.title }}
                      </h2>
                      <h3 class="post-subtitle">
                          {{ arttc.description|truncatewords:30}}
                      </h3>
                  </a>
                  <p class="post-meta">نویسنده
                      <a href="#">طهماسبی</a>
                      {{ arttc.jpublish_time }}</p>
                  <div>
                      {% for cat in arttc.category.all %}
                        <a href="#">#{{ cat.title }}</a>
                      {% endfor %}
                  </div>
              </div>
              <hr>
          {% endfor %}

        <!-- Pager -->
        <div class="clearfix pager-botton" >
          <a class="btn btn-primary float-right" href="#"> پست های قدیم&larr;</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}