{% extends 'base.html' %}
{% load static %}
{% block main %}
  <header class="masthead" style="background-image: url('{% static "blog/img/home-bg.jpg" %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>وبی لاگ</h1>
            <span class="subheading"> لاگی از سراسر وب </span>
          </div>
        </div>
      </div>
    </div>
  </header>
<!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      {% block header %}{% endblock %}
          {% for arttc in object_list %}
              <div class="post-preview">
                  <a href="{% url "blog:article_detais_url" arttc.slug %}">
                      <h2 class="post-title">
                          {{ arttc.title }}
                      </h2>
                      <h3 class="post-subtitle">
                          {{ arttc.description|truncatewords:30}}
                      </h3>
                  </a>
                  <p class="post-meta">نویسنده
                      <a href="{% url "blog:author_list_url" arttc.author %}">{{arttc.author.get_full_name }}</a>
                      {{ arttc.jpublish_time }}</p>
                  <div>
                      {% for cat in arttc.category.active_category %}
                        <a href="{% url "blog:category_list_url" cat.slug %}">#{{ cat.title }}</a>
                      {% endfor %}
                  </div>
              </div>
              <hr>
          {% endfor %}
   <!-- Pager -->
       {% if is_paginated %}
           <div class="clearfix pager-botton" >
            {% if page_obj.has_previous  %} {% comment %} {% if article.has_previous  %}#chon az class base view estefade kardim in ravesh sahih nemibashad {% endcomment %}
                <a class="btn btn-primary float-right  ml-3" href="{% block previous_page_url %}{% endblock %}"> پست های جدید&rarr;</a>
            {% endif %}

            {% if page_obj.has_next %}
                <a class="btn btn-primary float-right" href="{% block next_page_url %}{% endblock %}"> پست های قدیم&larr;</a>{% comment %}<a class="btn btn-primary float-right" href="{% url 'blog:home' %}?page={{ article.next_page_number  }}"> پست های قدیم&larr;</a>{% endcomment %}
            {% endif %}
           </div>
      {% endif %}

      </div>
    </div>
  </div>
{% endblock %}